.tiles {
  margin: 0 0 clamp(60px, 10vw, 150px) 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $gutter;
  grid-row-gap: $gutter;
  list-style-type: none;

  @include bp($breakpoint-medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}
