$can-width: 50%;

.tile-visual {
  position: relative;
  width: $tile-can-container-width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30%; // Tricky to get right, tweak manually until looks right.

  @include bp($breakpoint-tile) {
    margin-top: 0;
    width: $tile-can-container-width-medium;
  }

  .can {
    &-container {
      display: block;
      width: $can-width;
    }

    &-body {
      display: block;
      width: 100%;
      height: auto;
    }

    &-label {
      &-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: $can-width;
        padding-top: 105%; // Tricky to get right, tweak manually until looks right.
        transform: translateY(
          15%
        ); // Tricky to get right, tweak manually until looks right.

        &:before {
          @include pseudo-cover;
          @include can-lighting(1);
        }

        &:after {
          @include pseudo-cover;
          @include can-lighting(-1);
        }
      }

      &-image {
        @include cover;
        width: auto;
        transform: translateX(-10%);
      }
    }
  }

  .particle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

    &-1 {
      transform: translate(-60%, 20%) scale(0.5) rotate(-40deg);
    }

    &-2 {
      transform: translate(90%, -70%) scale(0.9) rotate(35deg);
    }

    &-3 {
      transform: translate(70%, 50%) scale(0.8) rotate(0deg);
    }
  }

  .ingredient {
    width: $can-width;
    padding-top: $can-width;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
