.tile-visual {
  position: relative;
  width: $tile-can-container-width;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30%; // Tricky to get right, tweak manually until looks right.

  @include bp($breakpoint-tile) {
    margin-top: 0;
    width: $tile-can-container-width-medium;
  }

  .can {
    &-container {
      display: block;
      width: 50%;
    }

    &-body {
      display: block;
      width: 100%;
      height: auto;
    }

    &-label {
      &-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
        padding-top: 210%; // Tricky to get right, tweak manually until looks right.
        transform: translateY(
          15%
        ); // Tricky to get right, tweak manually until looks right.

        &:before {
          @include pseudo-cover;
          @include can-lighting(1);
        }

        &:after {
          @include pseudo-cover;
          @include can-lighting(-1);
        }
      }

      &-image {
        @include cover;
        width: auto;
        // transform: translateX(-10%);
      }
    }
  }

  .particle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 100%;
    height: auto;

    &-1 {
      transform: translate(-145%, -50%) scale(0.4) rotate(-25deg);
    }

    &-2 {
      transform: translate(50%, -100%) scale(0.5) rotate(30deg);
    }

    &-3 {
      transform: translate(25%, 0%) scale(0.75) rotate(-15deg);
    }
  }
}
