body {
  margin: 0;
  font-family: $font-family-body;
  background-color: $color-surface;
  color: $color-font-body;
  overflow-x: hidden; // Prevent the animated tile elements from adding a vertical scrollbar
}

::selection {
  background: $color-surface-button;
}
