@font-face {
  font-family: "woodchuck";
  src: url("../fonts/woodchuck-heavy-webfont.woff2") format("woff2"),
    url("../fonts/woodchuck-heavy-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "woodchuck";
  src: url("../fonts/woodchuck-regular-webfont.woff2") format("woff2"),
    url("../fonts/woodchuck-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
