// Splitting.js automatically adds a wrapper around the letters.
// Might as well take advantage of it.
.word {
  display: inline-block;
  overflow: hidden;
}

.char {
  display: inline-block;
}

.hide-small {
  display: none;

  @include bp($breakpoint-medium) {
    display: block;
  }
}
